<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="row"><strong>{{ data.title }}</strong></div>
            <form action="/category/add" method="post">
                <div class="row">
                    <div class="col-4">Category Name:</div>
                    <div class="col-4"><input type="text" name="name"
                                              value="{{ data.category }}"
                                    onkeyup="chk_input_keyup(this)"
                    /></div>
                </div>
                <br>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2">
                        <button class="btn btn-primary" role="button" type="submit" id="saveBtn">Save</button>
                    </div>
                    <div class="col-6" id="error_message"></div>
                </div>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
<script type="application/javascript">

    var categories = [{% for c in data.categories %}'{{ c }}'.toUpperCase(),{% endfor %}];
    var msg = document.getElementById('error_message');
    var btn = document.getElementById('saveBtn');

    function chk_input_keyup(e) {
        var inp_value = e.value.toUpperCase();
        var duplicate = 0;

        for (var i =0; i<categories.length; i++) {
            console.log('cmp ' + categories[i] + ' == ' + inp_value );
            if ( categories[i] == inp_value ) {
                duplicate++;
            }
        }

        msg.innerText = '';
        btn.disabled = false;
        if ( duplicate > 0 ) {
             msg.innerText = 'This category already exists.';
             btn.disabled = true;
        }
    }

</script>

{% include 'footer.html' %}
</body>
</html>