<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">
        <div class="col-1"></div>
        <div class="col-10">

            <div class="row"><strong>{{ data.title }}</strong></div>
            <form action="/delete" method="post">
                <div class="row">
                    <div class="col-2">Name:</div>
                    <div class="col-8">{{ data.item.name }}</div>
                </div>

                <div class="row">
                    <div class="col-2">Category:</div>
                    <div class="col-8">
                        {% for cat in data.categories %}
                            {% if cat.id == data.item.categoryid %}
                                <p>{{ cat.name }}</p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>


                <div class="row">
                    <div class="col-2">Description:</div>
                    <div class="col-8">
                        <p>{{ data.item.description }}</p>
                    </div>
                </div>

                <input type="hidden" name="item_id" value="{{ data.item.id }}"/>

                <div class="row">
                    <div class="col-2"></div>
                    <button class="btn btn-danger" role="button"
                            type="submit">Yes, Delete</button>
                    &nbsp;&nbsp;
                    <button class="btn btn-primary" role="button"
                            formaction="/item/{{ data.item.id }}"
                            formmethod="get">Cancel</button>
                </div>

            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>
{% include 'footer.html' %}
</body>
</html>