<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
          content="{{ data.client_id }}">
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">
        <div class="col-1">
        </div>
        <div class="col-8">
            <form action="logout" method="post">

                <div class="row">
                    {% if data.session.username > '' %}{{ data.session.username }}{% endif %}
                    are you sure you wish to logout?
                </div>


                <div class="row">
                        &nbsp;<button class="btn btn-primary" onclick="signOut" role="button">Yes, Logout</button>
                </div>
            </form>
        </div>
    </div>
{#    <a href='#' onclick='return signOut()'>Sign Out from Google <a/>#}
</div>
{% include 'footer.html' %}
<!--NEW GOOGLE SIGN IN CODE -->
</body>
<script type="application/javascript">

    var auth2;

    function init() {
        gapi.load('auth2', function () {
            console.log("loaded auth2");
            auth2 = gapi.auth2.init({
                client_id: '{{ data.client_id }}',
                scope: 'profile email'
            });

            $("#signinButton").click(function () {
                console.log("clicked");
                auth2.grantOfflineAccess({
                    'redirect_uri': 'postmessage'
                }).then(offlineAccess);
            });
        });
    }

    function offlineAccess(resp) {
        console.log("in offline access");
        var auth_code = resp.code;
        console.log(resp);

        $.ajax({
            type: "POST",
            url: "/oauth/google", // {{url_for('login')}}",
            processData: false,
            contentType: 'application/octet-stream; charset=utf-8',
            data: auth_code,
            success: function (result) {
                $("body").html(result);
                setTimeout(function () {
                    window.location.href = '/'
                }, 3000);
            }
        });
    }

    function signOut() {
        auth2.signOut().then(
            function () {
                console.log('signOut called');

                $.ajax({
                    type: "POST",
                    url: "{{url_for('logout')}}",
                    processData: false,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        $("body").html(result);
                        setTimeout(function () {
                            window.location.href = '/'
                        }, 3000);
                    }
                });
            }
        )
    }


    // Hide the login button in the header section.
    var hdr_login_btn = document.getElementById('hdr_login_btn');
    hdr_login_btn.style = "display:none;";

</script>
<!--END GOOGLE SIGN IN CODE -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js?onload=init"></script>
</html>