<!DOCTYPE html>
<html>
<head>
    <title>{{ data.title }}</title>
    {% include 'includes.html' %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
{% include 'top.html' %}
<div>&nbsp;</div>
<div class="container">
    <div class="row table-light">

        {# List of Categories on Left Side#}
        <div class="col-3">
            <div class="row p-1 font-weight-bolder themed-grid-col">Categories</div>
            {% for category in data.categories %}
                {% if data.category == category.name %}
                    <div class="row p-1 font-weight-bolder themed-grid-col">
                {% else %}
                    <div class="row p-1 font-weight-normal themed-grid-col">
                {% endif %}
            <a href="/category/{{ category.name }}">{{ category.name }}</a>
            </div>
            {% endfor %}
            </div>

            <div class="col-8">
                <!-- data.show_item = {{ data.show_item }} -->

                {# User Selected One Item#}
                {% if data.show_item == 1 %}
                    {% if (data.edit_item == 1) %}
                        {# Edit One Item#}
                        <form action="/save" method="post">
                            <div class="row">
                                <input type="text" name="item_name" value="{{ data.item.name }}"/>
                            </div>
                            <div class="row">
                                <textarea name="item_text" rows="10" cols="60">{{ data.item.description }}</textarea>
                            </div>
                            <div class="row">
                                <button class="btn btn-primary" role="button" type="submit">Save</button>
                            </div>
                            <input type="hidden" name="item_id" value="{{ data.item.id }}"/>
                        </form>
                    {% else %}
                        {# Present one item's data#}
                        <div class="row p-1 font-weight-normal themed-grid-col">{{ data.item.name }}</div>
                        <div class="row p-1 font-weight-normal themed-grid-col">{{ data.item.description }}</div>
                        <div class="row p-1">
                            {# If user is the item "owner", then they can edit or delete the item#}
                            {% if data.logged_in and ( data.item.client_id == data.session.client_id ) %}
                                <a class="btn btn-primary" href="/edit/{{ data.item.id }}" role="button">Edit</a>
                                <a class="btn btn-danger" href="/delete/{{ data.item.id }}" role="button">Delete</a>
                            {% else %}
                                Modification limited to user: {{ data.item.owner }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="row p-1 font-weight-bolder themed-grid-col">
                        {# If category is not specified, display all categories in reverse date order#}
                        {% if data.category == '' %}
                            Latest Items
                        {% else %}
                            {{ data.category }} ({{ data.items_count }} Items)
                        {% endif %}
                    </div>
                    {# List all items passed.#}
                    {% for item in data.items %}
                        <div class="row p-1 font-weight-normal themed-grid-col">
                            {# show item along with category or date#}
                            <a href="/item/{{ item.id }}">{{ item.name }}</a>
                            {% if data.category == '' %}
                                &nbsp;-&nbsp;<i>{{ data.categories[item['categoryid'] - 1]['name'] }}</i>
                            {% else %}
                                - {{ item['fmtdate'] }}
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>

    </div>
    {% include 'footer.html' %}
</body>
</html>